---
import Banner from '../components/Banner.astro'
import { ContactUsForm } from '../components/ContactUsForm.tsx'
import Container from '../components/Container.astro'
import Elaboration from '../components/Elaboration.astro'
import TechExpertise from '../components/TechExpertise.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Agathist | Software Development for Web and Mobile | React, TypeScript"
>
  <main>
    <div class="pb-24 pt-16 lg:pb-32 lg:pt-24">
      <Banner />
    </div>

    <section>
      <div
        class="gradient-animation basis-1/2 bg-gradient-to-r from-rose-500 via-pink-500 to-orange-400 px-8"
      >
        <Container>
          <div class="lg:flex lg:gap-8">
            <div
              class="grow basis-1/2 py-16 text-center text-3xl font-light leading-tight lg:py-32 lg:text-left lg:text-4xl lg:drop-shadow-[4px_4px_4px_rgba(0,0,0,0.25)]"
            >
              <div class="flex flex-col gap-8 lg:gap-4">
                <p>We are ready to build your next great&nbsp;application</p>
                <p>Or improve one of your existing&nbsp;ones</p>
              </div>
            </div>

            <!--
              This is the simplest way I could find to achieve the responsive
              layout for Elaboration I wanted

              Render it twice, hide it when necessary
            -->
            <div class="relative hidden basis-1/2 lg:block">
              <div
                class="absolute -bottom-1/4 -top-1/4 w-full rounded bg-slate-800 p-8 shadow-lg"
              >
                <div class="flex h-full flex-col justify-center">
                  <Elaboration />
                </div>
              </div>
            </div>
          </div>
        </Container>
      </div>

      <!--
        This is the simplest way I could find to achieve the responsive
        layout for Elaboration I wanted

        Render it twice, hide it when necessary
      -->
      <div class="bg-gradient-to-b from-slate-800 to-slate-900 lg:hidden">
        <Container>
          <div class="py-16 text-xl">
            <Elaboration />
          </div>
        </Container>
      </div>
    </section>

    <section class="pt-16 lg:py-32 lg:pt-60">
      <Container>
        <div>
          <h3 class="font-serif text-3xl lg:text-5xl">
            Valuable Experience &amp; Expertise
          </h3>

          <div class="max-w-prose py-8 text-xl font-light lg:text-2xl">
            <p class="leading-relaxed">
              Our software engineers have decades of experience and are experts
              in some of today's most widely used technologies
            </p>
          </div>

          <div class="lg:mt-12">
            <TechExpertise />
          </div>
        </div>
      </Container>
    </section>
  </main>

  <section class="bg-gradient-to-b from-slate-900 to-pink-900">
    <Container>
      <div class="flex flex-col gap-16 py-32">
        <h3 class="text-center font-serif text-3xl lg:text-5xl">Our Clients</h3>

        <div class="flex flex-col gap-8 text-center">
          <div class="flex flex-col gap-4 text-xl font-light lg:text-2xl">
            <p class="leading-relaxed">
              No one yet, but you have to start somewhere! Want to be
              the&nbsp;first?
            </p>

            <p class="leading-relaxed">
              Your logo and testimonial could one day be&nbsp;here.
            </p>
          </div>
        </div>

        <div class="flex flex-wrap justify-center gap-8 lg:gap-12">
          {
            ['Your', 'Logo', 'Here'].map((text) => (
              <div class="flex h-32 w-32 items-center justify-center rounded-xl border-4 border-dashed border-gray-300/90 text-3xl text-gray-300/90 lg:h-48 lg:w-48 lg:text-4xl">
                {text}
              </div>
            ))
          }
        </div>
      </div>
    </Container>
  </section>

  <section class="mb-24 bg-gradient-to-b from-pink-900 to-slate-900 lg:py-24">
    <Container>
      <div class="flex flex-col gap-12 lg:items-center">
        <div class="flex flex-col gap-4 lg:text-center">
          <div class="font-serif text-3xl lg:text-5xl">Contact Us</div>

          <p class="text-xl md:text-2xl">
            Fill out the form below or send us an email at <a
              class="border-b-4 border-b-pink-500 hover:text-gray-100"
              href="mailto:hello@agath.ist">hello@agath.ist</a
            >
          </p>
        </div>

        <div class="w-full lg:w-1/2">
          <ContactUsForm client:visible />
        </div>
      </div>
    </Container>
  </section>
</Layout>

<style>
  .gradient-animation {
    background-size: 300%;
    animation: move-gradient 10s ease infinite;
  }

  @keyframes move-gradient {
    0%,
    100% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
  }
</style>
