---
import Banner from "../components/Banner.astro";
import ContactUsForm from "../components/ContactUsForm.astro";
import Container from "../components/Container.astro";
import Elaboration from "../components/Elaboration.astro";
import Todo from "../components/Todo.astro";
import Layout from "../layouts/Layout.astro";
import JavaScript from "../components/icons/JavaScript.astro";
import NextJs from "../components/icons/NextJs.astro";
import React from "../components/icons/React.astro";
import Tailwind from "../components/icons/Tailwind.astro";
import TypeScript from "../components/icons/TypeScript.astro";

const techs = [
  { name: "TypeScript", Logo: TypeScript },
  { name: "JavaScript", Logo: JavaScript },
  { name: "React", Logo: React },
  { name: "NextJS", Logo: NextJs },
  { name: "TailwindCSS", Logo: Tailwind },
];
---

<Layout
  title="Agathist | Software Development for Web and Mobile | React, TypeScript"
>
  <main>
    <div class="pb-32 pt-24">
      <Banner />
    </div>

    <section>
      <div
        class="gradient-animation basis-1/2 bg-gradient-to-r from-rose-500 via-pink-500 to-orange-400 px-8"
      >
        <Container>
          <div class="lg:flex lg:gap-8">
            <div
              class="grow basis-1/2 py-16 text-center text-3xl font-light leading-tight lg:py-32 lg:text-left lg:text-4xl lg:drop-shadow-[4px_4px_4px_rgba(0,0,0,0.25)]"
            >
              <div class="flex flex-col gap-8 lg:gap-4">
                <p>We are ready to build your next great&nbsp;application</p>
                <p>Or improve one of your existing&nbsp;ones</p>
              </div>
            </div>

            <!--
              This is the simplest way I could find to achieve the responsive
              layout for Elaboration I wanted
            -->
            <div class="relative hidden basis-1/2 lg:block">
              <div
                class="absolute -bottom-1/4 -top-1/4 w-full rounded bg-slate-800 p-8 shadow-lg"
              >
                <div class="flex h-full flex-col justify-center">
                  <Elaboration />
                </div>
              </div>
            </div>
          </div>
        </Container>
      </div>

      <div class="bg-gradient-to-b from-slate-800 to-slate-900 lg:hidden">
        <Container>
          <div class="py-16 text-xl">
            <Elaboration />
          </div>
        </Container>
      </div>
    </section>

    <section class="py-32 pt-48">
      <Container>
        <div>
          <h3 class="font-serif text-5xl">
            Valuable Experience &amp; Expertise
          </h3>
          <div class="max-w-prose py-8 text-2xl">
            Our software engineers have decades of experience and are experts in
            some of today's most widely used technologies
          </div>

          <ul class="flex flex-wrap items-end justify-evenly gap-8">
            {
              techs.map(({ name, Logo }) => (
                <li>
                  <div class="flex flex-col items-center gap-4 p-4">
                    <div class="w-24 text-slate-200 lg:w-32">
                      <Logo />
                    </div>

                    <div class="text-2xl font-bold tracking-wide">{name}</div>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </Container>
    </section>

    <section class="bg-gradient-to-b from-slate-900 to-pink-900">
      <Container>
        <div class="flex flex-col gap-8 py-32">
          <div class="flex flex-col gap-8">
            <h3 class="font-serif text-5xl">Our Clients</h3>

            <div class="text-2xl">
              <div>No one. Wanna be the first? Gotta start somewhere.</div>
              <div>Your logo could be here</div>
              <div class="my-4 flex">
                <Todo>TODO: This could be fancier</Todo>
              </div>
            </div>
          </div>
        </div>
      </Container>
    </section>

    <section class="bg-gradient-to-b from-pink-900 to-slate-900 py-24">
      <Container>
        <div class="flex flex-col gap-8 lg:items-center">
          <div class="lg:text-center">
            <div class="font-serif text-3xl md:text-5xl">Contact Us</div>
            <div class="text-xl md:text-2xl">Let's chat.</div>
          </div>

          <div class="w-full lg:w-1/2">
            <ContactUsForm />
          </div>
        </div>
      </Container>
    </section>
  </main>
</Layout>

<style>
  .gradient-animation {
    background-size: 300%;
    animation: move-gradient 10s ease infinite;
  }

  @keyframes move-gradient {
    0%,
    100% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
  }
</style>
