---
import Banner from '../components/Banner.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Agathist | Software Development for Web and Mobile | React, TypeScript"
>
  <main class="flex grow flex-col justify-center">
    <Banner />
  </main>
</Layout>

<style>
  .gradient-animation {
    background-size: 300%;
    animation: move-gradient 10s ease infinite;
  }

  @keyframes move-gradient {
    0%,
    100% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
  }
</style>
