---
import { Button } from "./Button.tsx";
---

<form class="flex flex-col gap-8">
  <label class="flex flex-col gap-2">
    <div>First Name</div>
    <input class="w-full rounded p-2 text-black" />
  </label>

  <label class="flex flex-col gap-2">
    <div>Last Name</div>
    <input class="w-full rounded p-2 text-black" />
  </label>

  <label class="flex flex-col gap-2">
    <div>Email</div>
    <input class="w-full rounded p-2 text-black" />
  </label>

  <label class="flex flex-col gap-2">
    <div>Tell us about your project</div>
    <textarea class="w-full rounded p-2 text-black" rows={4}></textarea>
  </label>

  <Button>TODO: Doesn't work yet</Button>
</form>
