---
import { getCollection } from 'astro:content'

const servicesEntries = await getCollection('services')
const services = [
  ...servicesEntries.map((entry) => entry.data.title),
  'And more...',
]
---

<div class="flex flex-col gap-8 lg:gap-12">
  <div class="font-serif text-3xl lg:text-5xl">Let us help you with...</div>

  <ul class="grid grid-cols-2 gap-6 text-2xl font-light">
    {
      services.map((title) => (
        <li>
          <div class="flex h-full flex-col justify-end">
            <div class="p-2">{title}</div>
            <div class="h-1 bg-gradient-to-br from-pink-500 to-rose-500" />
          </div>
        </li>
      ))
    }
  </ul>
</div>
