---
const { pathname } = new URL(Astro.request.url)

const links = [
  {
    href: '/services',
    text: 'Services',
  },
  {
    href: '/about',
    text: 'About',
  },
  {
    href: '/blog',
    text: 'Blog',
  },
].map((link) => {
  return {
    ...link,
    isCurrentPage: pathname.startsWith(link.href),
  }
})
---

<div class="relative">
  <nav
    class="absolute right-0 top-full mt-4 hidden bg-slate-800 p-6 lg:static lg:mt-0 lg:block lg:bg-transparent lg:p-0 lg:py-3"
  >
    <ul class="items-right flex flex-col gap-6 lg:flex-row lg:items-baseline">
      {
        links.map((link) => (
          <li class="text-right lg:text-left">
            <a
              aria-label={link.text}
              class={`inline-block border-y-4 border-transparent p-1 text-sm uppercase tracking-widest hover:bg-pink-500 ${
                link.isCurrentPage && 'border-b-pink-500'
              }`}
              href={link.href}
            >
              {link.text}
            </a>
          </li>
        ))
      }

      <li class="mt-2 lg:ml-4 lg:mt-0">
        <a
          class="rounded-full bg-rose-400 px-6 py-2 text-sm uppercase tracking-widest text-white transition-colors hover:bg-pink-500"
          href="/contact"
        >
          Contact&nbsp;Us
        </a>
      </li>
    </ul>
  </nav>

  <button
    class="group flex flex-col gap-1 rounded border border-gray-200 p-2 transition-all hover:bg-gray-200 lg:hidden"
    id="nav-toggle"
  >
    {
      [1, 2, 3].map(() => (
        <div class="h-[2px] w-4 bg-gray-200 transition-all group-hover:bg-slate-900" />
      ))
    }
  </button>
</div>

<script>
  document.getElementById('nav-toggle')?.addEventListener('click', () => {
    document.querySelector('nav')?.classList.toggle('hidden')
  })
</script>
