<div
  class="flex max-w-prose flex-col gap-4 text-2xl font-light leading-relaxed"
>
  <slot />
</div>

<style is:global>
  blockquote {
    font-style: italic;
    border-left: 8px solid rgba(255, 255, 255, 0.25);
    padding: 0.5em 1em;
  }
</style>
