---
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'

const techs = await getCollection('technologies', (entry) => {
  if (import.meta.env.PROD) return entry.data.published

  return true
})

const sortedTechs = techs.toSorted((a, b) => a.data.order - b.data.order)
---

<ul class="flex flex-wrap items-end justify-evenly gap-8">
  {
    sortedTechs.map((entry) => {
      const { data } = entry
      const { name, iconName } = data

      return (
        <li>
          {/* TODO: make this a link to a technology page */}
          <div class="flex flex-col items-center gap-8">
            <Icon
              class="h-24 w-24 text-rose-400 lg:h-28 lg:w-28"
              name={iconName}
              title={`${name} logo`}
            />

            <div class="text-2xl font-bold tracking-wide">{name}</div>
          </div>
        </li>
      )
    })
  }
</ul>
