---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

interface Props {
  description?: string
  title: string
}

const DEFAULT_DESCRIPTION =
  'Agathist is a software development agency with expertise in TypeScript, JavaScript and React. We build good software with good people.'

const { description = DEFAULT_DESCRIPTION, title } = Astro.props
---

<!doctype html>
<html class="h-full bg-slate-900 font-sans text-white" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    {
      description && (
        <>
          <meta
            name="description"
            property="og:description"
            content={description}
          />
          <meta name="twitter:description" content={description} />
        </>
      )
    }
    <title>{title}</title>
  </head>
  <body class="flex min-h-full flex-col">
    <Header />

    <div class="grow">
      <slot />
    </div>

    <div class="pt-48">
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Droid Serif';
    src: url('/fonts/DroidSerif-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Droid Serif';
    src: url('/fonts/DroidSerif-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  strong {
    font-weight: 700;
  }
</style>
